.battle {
  .replay-combat {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    & a {
      margin-right: 40px;
    }
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    & > div {
      &:first-child {
        border-right: 2px solid black;
      }
      width: 50%;
      &:nth-child(2) {
        .container-name {
          display: flex;
          justify-content: flex-end;
        }
        .button-commande-container {
          display: flex;
          justify-content: flex-end;
          & button {
            margin-right: 0px !important;
            margin-left: 16px;
          }
        }
      }
    }
  }
}
